<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> {{title}} </h1>
  <!-- <app-test></app-test> -->
  <app-event-binding></app-event-binding> <br>
  <app-property-binding> </app-property-binding> <br>
  <app-class-binding> </app-class-binding> <br>
  <app-style-binding> </app-style-binding> <br>
  <app-template-ref-var> </app-template-ref-var> <br>
  <app-two-way-binding> </app-two-way-binding> <br>
  <app-structural-directives> </app-structural-directives> 
  <app-component-interaction (childEvent)="message=$event" [myName]="myName"> </app-component-interaction>
  {{message}}

</body>
</html > 